.header {
  background-color: rgb(80, 80, 80);

  display: flex;
  align-items: center;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  height: 60px;
  white-space: nowrap;
  margin-right: 5px;
}

.ss-logo {
  width: 80px;
}

.ss-text {
  width: 120px;
}

@media (max-width: 575px) {
  .ss-text {
    display: none;
  }
}

.middle-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.search-bar {
  flex:1;
  width: 0;
  min-width: 0px;
  max-width: 500px;
  height: 33px;
  border: none;
  padding-left: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 16px
}

.search-bar:focus {
  outline: none;
  min-width: 100px;
  transition: min-width 0.15s;
}

.search-button {
  padding: 0px;
  border: 3px solid white;
  height:35px;
  width: 35px;
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search-icon {
  padding: 3.5px;
  background-color: rgb(80, 80, 80);
  width: 80%;
  height: 80%;
  border-radius: 15px;
  object-fit: cover;
  cursor: pointer;
  transition: width 0.15s, height 0.15s, padding 0.15s;
}

.search-icon:hover {
  padding: 0px;
  width: 100%;
  height: 100%;
}

.right-section {
  display: flex;
  align-items: center;
}

.info-button, .build-button, .laptop-button {
  font-family: arial;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 10px;
  text-decoration: none;
  color: white;
  background-color: rgb(80, 80, 80);
  cursor: pointer;
  transition: color 0.15s, backgroud-color 0.15s;
}

.info-button, .build-button, .laptop-button a:visited {
  text-decoration: none;
  color: white;
}

.info-button:hover, .build-button:hover ,.laptop-button:hover {
  color: rgb(80, 80, 80);
  background-color: white;
}