body {
  padding-left: 0px;
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

@media (max-width: 705px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
} 

.search-failed {
  font-weight: bold;
}

.product-container {
  border: 1px solid rgb(200, 200, 200);
  width:100%;
  max-width: 510px;
  display: inline-block;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}

.product-grid {
  display: grid;
  grid-template-rows: 210px 1fr;
  justify-content: center;
}

.product-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image {
  max-height: 209px;
  cursor: pointer;
}

.info-grid div {
  display: flex;
  border-bottom: 1px solid rgb(200, 200,200);
  align-items: center;
}

.laptop-name, .section, .price {
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.laptop-name {
  padding: 5px;
  font-size: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.section {
  background-color: rgb(200, 200, 200);
  margin: 0;
  padding: 2px 5px;
  width: 65px;
  align-items: center;
  align-self: stretch;
}

.cpu, .ram, .gpu, .storage, .display {
  flex: 1;
  margin: 0;
  padding: 2px 5px;
  line-height: 1.2rem;
}

.price {
  font-family: Roboto, Arial;  
  padding: 10px;
}

/* ================= overlay image ================= */

.overlay {
  background-color: rgba(200, 200, 200, 0.8);
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay img {
  max-width: 100%;
  max-height: 550px;
}

.close-button {
  background-color: black;
  color: white;
  padding: 5px 12px;
  border-radius: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* ================= info ================= */

.info-pop {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right:10px;
}

.mail-icon-image-container {
  position: relative;
}

.mail-icon-image {
  width: 30px;
  cursor: pointer;
  position: relative;
}

.mail-image-container {
  position: absolute;
  top: -15px;
  left: -200px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
}

.mail-image {
  width: 200px;
}

.mail-icon-image-container:hover .mail-image-container {
  opacity: 1;
}