.info-sidebar div {
  font-family: Poppins;
  color: white;
  margin: 0;
  line-height: 15px;
}

.info-sidebar {
  position: fixed;
  top: 60px;
  left: 0px;
  bottom: 0px;

  background-color: rgb(100, 100, 100);
  padding-top: 20px;
  width: 120px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 575px) {
  .info-sidebar {
    width: 100px;
  }

  .sidebar-link img {
    width: 50px;
  }
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;
  padding: 10px 0;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(80, 80, 80);
}

.selected {
  background-color: rgb(80, 80, 80);
}
  